/*top*/

#box {
	background: #EFEFEF;
}

.ui.segment.fixed.basic.menu {
	background: #363840;
	height: 50px;
}

.title-main {
	width: 1090px;
	color: white;
	margin: 0 auto;
}

.title-main-in {
	margin: 0 auto;
	width: 100px;
	font-size: 24px;
}

.ui.image.title-main-left {
	float: left;
	margin-top: -10px;
}

.ui.image.title-main-left>a>img {
	height: 40px;
}

.ui.text.menu.title-main-right {
	float: right;
	margin-top: -30px;
}

.ui.text.menu.title-main-right a {
	color: #c0c0c0;
}

.but {
	margin-top: -10px;
	background: #363840;
	height: 50px;
	min-width: 58px;
	text-align: center;
	color: #c0c0c0;
}

.but {
	line-height: 50px;
}

.but:hover {
	background: #5F9EA0;
	height: 50px;
	min-width: 58px;
	text-align: center;
	color: white;
}

.ui.text.menu.title-main-right a:hover {
	color: white;
}
/*涓讳綋*/
.ui.grid.container.main{
	margin-top: 30px;
}
.lists {
	color: #000000;
	padding: 7px;
	font-family: "寰蒋闆呴粦";
	margin:0 auto;
}
.listsson{
	color: #000000;
	font-family: "寰蒋闆呴粦";
	font-size:12px;
	padding-left: 20px;
	padding-bottom: 5px;
}
.listsson:hover{
	background: #db2828;
	color: #ffffff;
	border-radius:5px;
}
.listtitle{
	font-family: "寰蒋闆呴粦"
}
.ui.red.button.addbutton{
	font-family: "寰蒋闆呴粦"
}
.nodenum {
	float: right;
}
.master{
	float: left;
	color: #000000;
	padding: 5px;
}
.Statement{

}
.master:hover{
	background: #db2828;
	color: #ffffff;
	border-radius:5px
}
.ui.vertical.segment.onetopic{
	padding:50px;
}
.ui.vertical.segment.onetopic>a{
	color: #000000;
}
.ui.vertical.segment.onetopic>a:hover{
	color: #db2828;
}
.timeandauthor>a{
	color: #000000;
}
.timeandauthor>a:hover{
	color: #db2828;
}
.timeandauthor{
	float:right;
}
.ui.raised.segment.ritghttitle {
	height: 300px;
	font-family: "寰蒋闆呴粦";
	
}

.ui.pagination.menu.pagebutton {
	float: right;
}
/*鑴氶儴*/

.ui.segment.basic.vertical {
	margin: 0 auto;
	width: 80%;
}

.foot.menu {
	color: #aaa;
}

.ui.image.foots>img {
	height: 40px;
}

.rights {
	margin-top: 60px;
	float: right;
}